/*------------------------------------*\
  #CHANNEL
\*------------------------------------*/

.channel-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-bottom: 16.4%;
}

  .channel-details {
    position: relative;
    padding: 15px;
    background-color: $background-color;
  }

  .channel-details__thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
  }

  .channel-details__info {
    margin-left: 60px;
  }


.subscribe {
  font-size: 0.75rem;
}

  .subscribe__btn {
    color: $primary-color;
  }

  .subscribe__icon {
    vertical-align: middle;
    width: 18px;
  }

  .subscribe__count {
    color: $secondary-text-color;
  }
