/*------------------------------------*\
  #INFINTE-SCROLL
\*------------------------------------*/

.infinite-scroll__btn {
  border-top: 1px solid $seperator-color;
  text-align: center;
  color: $secondary-text-color;
  padding: 10px;
}