/*------------------------------------*\
  #SEARCH-LIST
\*------------------------------------*/

.search-item {
  padding: 10px;
}





.video-result {
  width: 100%;
  position: relative;
}

  .video-result__info {
    padding: 0px 10px;
    height: 90px;
    margin-left: 160px;

    @include desktop {
      height: 180px;
      margin-left: 320px;
    }
  }

  .video-result__title {
    max-height: 50px;
    overflow: hidden;
    color: $primary-text-color;
  }

  .video-result__channel {
    max-height: 40px;
    overflow: hidden;
    color: $secondary-text-color;
    font-size: 0.75rem;
  }

  .video-result__description {
    max-height: 80px;
    overflow: hidden;
    color: $secondary-text-color;
    font-size: 0.75rem;
    margin-top: 10px;
    display: none;
    
    @include desktop {
      display: block;
    }
  }





.video-thumbnail {
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 90px;

  @include desktop {
    height: 180px;
    width: 320px;
  }
}

  .video-thumbnail__overlay {
    width: 30%;
    min-width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .video-thumbnail__icon {
    width: 24px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('/assets/img/playlist-icon.png');
    background-size: cover;
  }





.channel-result {
  width: 100%;
  position: relative;
  min-height: 90px;

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  @include desktop {
    min-height: 180px;
  }

}

  .channel-result__info {
    padding: 0px 10px;
    margin-left: 90px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include desktop {
      margin-left: 180px;
    }
  }

  .channel-result__title {
    max-height: 75px;
    overflow: hidden;
    color: $primary-text-color;
  }

  .channel-result__description {
    max-height: 95px;
    overflow: hidden;
    color: $secondary-text-color;
    font-size: 0.75rem;
    margin-top: 10px;
    display: none;
    
    @include desktop {
      display: block;
    }
  }





.channel-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;

  @include desktop {
    height: 180px;
    width: 180px;
  }
}