/*------------------------------------*\
  #SEARCH
\*------------------------------------*/

.filter {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

  .filter__selector {
    border-radius: 2px;
    padding: 6px 3px;
    font-size: 14px;
    background-color: $background-color;
  }